#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  
  background-color: #f2f2f2;
  border: 0.0625em solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #333;
  text-align: center;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
}

.read-the-docs {
  color: #888;
}
